/* colors etc */
tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 8px;
  background-color: #011f3f;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
  border-right: 1px solid #374151;
}

tabbar tabbox tab:selected {
  background-color: #174f8f;
  color: #c0c0c0;
}

tabbar tabbox tab {
  min-width: 5px;
  background-color: #0b2f57;
  color: #c0c0c0;
}

tabbar tabbox tab label {
  font-size: 13px;
  font-family: Miracode;
}

/* make it shorter */
tabbar tabbox * {
  min-height: 16px;
}

/* hack to hide the stupid gtk tab separators */
tabbar tabbox separator {
  min-width: 0;
  margin: 0;
}

tabbar tabbox * {
  margin-left: -6px;
}

tabbar tabbox tab * {
  margin-left: 0px;
}

tabbar {
  margin: 0px -2px;
}

/* hack to hide the close button */
tabbar tabbox button {
  opacity: 0;
  min-height: 0;
  min-width: 0;
  margin: 0;
  margin-right: -100px;
}

/* hide the bottom indicator lines on each tab */
tabbar tabbox, tabbar tabbox tab {
  box-shadow: none;
  border-bottom: none;
  border: none;
}
